{{define "top/players"}}
    <html>
    {{template "common/css"}}
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="/js/scrollToEnd.js"></script>
    <script src="/js/jquery-3.5.0.min.js"></script>
    <title>Players - Top - 97Club</title>
    <body>
    {{template "common/nav"}}
    <div class="regions-container">
        <table class="regions-table" style="table-layout: fixed">
            <tr class="regions-table-header">
                <th class="regions-table-header-child">地区</th>
                <th class="regions-table-header-child">挑战者数量</th>
                <th class="regions-table-header-child" width="20px"></th>
                <th class="regions-table-header-child">地区</th>
                <th class="regions-table-header-child">挑战者数量</th>
                <th class="regions-table-header-child" width="20px"></th>
                <th class="regions-table-header-child">地区</th>
                <th class="regions-table-header-child">挑战者数量</th>
                <th class="regions-table-header-child" width="20px"></th>
                <th class="regions-table-header-child">地区</th>
                <th class="regions-table-header-child">挑战者数量</th>
            </tr>
            {{$number := 1}}
            {{$regionTotal := 0}}
            {{range $region := .regionsSort}}
                {{if eq (Mod $number 4) 1}}
                    <tr class="regions-table-data">
                {{end}}
                <td class="regions-table-data-child"><img src="/flag/{{ToLower $region}}.png"
                                                          title="{{(index $.regionsInfo (ToLower $region)).English}}"/> {{(index $.regionsInfo (ToLower $region)).Chinese}}
                </td>
                <td class="regions-table-data-child">{{index $.regions $region}}</td>
                {{if ne (Mod $number 4) 0}}
                    <td class="regions-table-data-child" style="background-color: #fff" width="20px"></td>
                {{end}}
                {{if eq (Mod $number 4) 0}}
                    </tr>
                {{end}}
                {{$number = (Inc $number 1)}}
                {{$regionTotal = (Inc $regionTotal 1)}}
            {{end}}
        </table>
        {{$playerTotal := 0}}
        {{range .playerStat}}
            {{$playerTotal = (Inc $playerTotal 1)}}
        {{end}}
        <div class="top-players-stat">
            <ul>
                <li>正版玩家共计 {{$playerTotal}}</li>
                <li>来自 {{$regionTotal}} 个地区</li>
            </ul>
        </div>
        <div class="top-switch">
            <ul>
                <li class="{{if eq .cate 1}}active{{end}}"><a href="/players?sort=pro">无存排序</a></li>
                <li class="{{if eq .cate 2}}active{{end}}"><a href="/players?sort=nub">存点排序</a></li>
                <li class="{{if eq .cate 3}}active{{end}}"><a href="/players?sort=wpn">武器排序</a></li>
                <li class="{{if eq .cate 100}}active{{end}}"><a href="/players?sort=first">第一排序</a></li>
            </ul>
        </div>
        <table class="top-table">
            <tr class="top-table-header">
                <th class="top-table-header-child">#</th>
                <th class="top-table-header-child">挑战者</th>
                <th class="top-table-header-child">无存</th>
                <th class="top-table-header-child">存点</th>
                <th class="top-table-header-child">武器</th>
                <th class="top-table-header-child">合计</th>
                <th class="top-table-header-child">第一</th>
            </tr>
            {{$counter := 1}}
            {{range $steamID := $.playerStatSort}}
                <tr class="top-table-data">
                    <td class="top-table-data-child center">{{$counter}}</td>
                    <td class="top-table-data-child">
                        <img src="/flag/{{ToLower (index $.playerInfo $steamID).region}}.png"/> {{UnescapeString (index $.playerInfo $steamID).nick}}
                        <a class="top-steam" href="/player/{{(index $.playerInfo $steamID).steamID64}}/{{$.sortField}}">
                            {{$steamID}}
                        </a>
                    </td>
                    <td class="top-table-data-child">{{if (index (index $.playerStat $steamID) 1)}}{{index (index $.playerStat $steamID) 1}}{{else}}0{{end}}</td>
                    <td class="top-table-data-child">{{if (index (index $.playerStat $steamID) 2)}}{{index (index $.playerStat $steamID) 2}}{{else}}0{{end}}</td>
                    <td class="top-table-data-child">{{if (index (index $.playerStat $steamID) 3)}}{{index (index $.playerStat $steamID) 3}}{{else}}0{{end}}</td>
                    <td class="top-table-data-child">{{if (index (index $.playerStat $steamID) 101)}}{{index (index $.playerStat $steamID) 101}}{{else}}0{{end}}</td>
                    <td class="top-table-data-child">{{if (index (index $.playerStat $steamID) 100)}}{{index (index $.playerStat $steamID) 100}}{{else}}0{{end}}</td>
                </tr>
                {{$counter = (Inc $counter 1)}}
            {{end}}
        </table>
    </div>
    <script>
        window.onload = function () {
            let page = 2;
            ScrollToEnd(function () {
                $.ajax({
                    url: '/players?sort={{.sortField}}&page='+page,
                    cache: false,
                    success: function (data) {
                        let firstColumn = $('.top-table th:eq(0)').html()
                        if (firstColumn === '#') {
                            let i = ((page - 1) * 30) + 1;
                            let html = $(data).each(function(){
                                if ($(this)[0].nodeName.toLocaleLowerCase() === 'tr') {
                                    $(this).find('td').eq(0).html(i++)
                                }
                            });
                            $('.top-table').append(html)
                        } else {
                            $('.top-table').append(data)
                        }
                        page++;
                    }
                });
            });
        };
    </script>
    </body>
    </html>
{{end}}