{{define "top/player"}}
    <html>
    {{template "common/css"}}
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="/js/scrollToEnd.js"></script>
    <script src="/js/jquery-3.5.0.min.js"></script>
    <title>{{ .info.nick }} - Top - 97Club</title>
    <body>
    {{template "common/nav"}}
    <div class="player-container">
        <table class="player-table">
            <tr class="center">
                <td width="186">Steam头像</td>
                <td colspan="2">玩家信息</td>
            </tr>
            <tr>
                <td rowspan="13" style="background: url({{.info.avatarFull}}) no-repeat center center;"></td>
                <td>SteamID</td>
                <td class="green">{{ .player }}</td>
            </tr>
            <tr>
                <td>游戏昵称</td>
                <td>{{UnescapeString .info.nick}}</td>
            </tr>
            <tr>
                <td>国家</td>
                <td><img src="/flag/{{ .info.region }}.png"
                         title="{{(index $.region (ToLower $.info.region)).English}} - {{(index $.region (ToLower $.info.region)).SortName}}"
                    /> {{(index $.region (ToLower .info.region)).Chinese}}</td>
            </tr>
            <tr>
                <td>玩家状态</td>
                <td>{{if .info.onlineState}}{{.info.onlineState}}{{else}}loading{{end}} | <a href="http://steamcommunity.com/profiles/{{.info.steamID64}}" target="_blank">Steam官方档案[{{if .info.visibilityState}}{{index .steamVisibilityState .info.visibilityState}}{{else}}loading{{end}}]</a></td>
            </tr>
            <tr>
                <td>统计排名</td>
                <td>待定</td>
            </tr>
            <tr>
                <td>第一(所有榜)</td>
                <td>{{index $.stat 100}}</td>
            </tr>
            <tr>
                <td>总纪录</td>
                <td>{{index $.stat 101}}</td>
            </tr>
            <tr>
                <td>总完成数</td>
                <td>{{index $.stat 102}}</td>
            </tr>
        </table>
    </div>
    <div class="top-switch">
        <ul>
            <li class="{{if eq .cate 1}}active{{end}}"><a href="/player/{{.info.steamID64}}/pro">无存纪录[{{if index $.stat 1}}{{index $.stat 1}}{{else}}0{{end}}]</a></li>
            <li class="{{if eq .cate 2}}active{{end}}"><a href="/player/{{.info.steamID64}}/nub">存点纪录[{{if index $.stat 2}}{{index $.stat 2}}{{else}}0{{end}}]</a></li>
            <li class="{{if eq .cate 3}}active{{end}}"><a href="/player/{{.info.steamID64}}/wpn">武器纪录[{{if index $.stat 3}}{{index $.stat 3}}{{else}}0{{end}}]</a></li>
        </ul>
    </div>
    <div class="top-container">
        <table class="top-table">
            <tr class="top-table-header">
                <th class="top-table-header-child">#</th>
                <th class="top-table-header-child">挑战地图</th>
                <th class="top-table-header-child">挑战时间</th>
                {{if ne $.cate 1 }}
                    <th class="top-table-header-child">存/读</th>
                {{end}}
                {{if eq $.cate 3 }}
                    <th class="top-table-header-child">武器</th>
                {{end}}
                <th class="top-table-header-child center">完成次数</th>
                <th class="top-table-header-child">挑战日期</th>
            </tr>
            {{range $i, $mapname := .sort}}
                <tr class="top-table-data">
                    <td class="top-table-data-child">{{Inc $i 1}}</td>
                    <td class="top-table-data-child"><a href="/top/{{$.pCate}}/{{(index $.list $mapname).MapName}}">{{(index $.list $mapname).MapName}}</a></td>
                    <td class="top-table-data-child">{{SecondsToMinutes (index $.list $mapname).Time}}</td>
                    {{if ne $.cate 1}}
                        <td class="top-table-data-child">{{(index $.list $mapname).CheckPoints}}/{{(index $.list $mapname).GoChecks}}</td>
                    {{end}}
                    {{if eq $.cate 3}}
                        <td class="top-table-data-child"><img src="/img/weapon/{{(index $.list $mapname).Weapon}}.gif" /></td>
                    {{end}}
                    <td class="top-table-data-child center">{{(index $.list $mapname).FinishCount}}</td>
                    <td class="top-table-data-child">{{FormatDate (index $.list $mapname).Date}}</td>
                </tr>
            {{end}}
        </table>
    </div>
    <script>
        window.onload = function () {
            let page = 2;
            ScrollToEnd(function () {
                $.ajax({
                    url: '/player/{{$.info.steamID64}}/{{$.pCate}}?page='+page,
                    cache: false,
                    success: function (data) {
                        let firstColumn = $('.top-table th:eq(0)').html()
                        if (firstColumn === '#') {
                            let i = ((page - 1) * 30) + 1;
                            let html = $(data).each(function(){
                                if ($(this)[0].nodeName.toLocaleLowerCase() === 'tr') {
                                    $(this).find('td').eq(0).html(i++)
                                }
                            });
                            $('.top-table').append(html)
                        } else {
                            $('.top-table').append(data)
                        }
                        page++;
                    }
                });
            });
        };
    </script>
    </body>
    </html>
{{end}}