{{define "record/index"}}
    <html>
    {{template "common/css"}}
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>WorldRecord - Top - 97Club</title>
    <body>
    {{template "common/nav"}}
    <div class="top-container">
        <div class="top-switch">
            <ul>
                {{range $i, $name := .organizations}}
                    <li class="{{if eq $.selectedOrg $i}}active{{end}}"><a href="/record/org/{{ToLower (index $.orgSortName $i)}}">{{$name}}</a></li>
                {{end}}
            </ul>
        </div>
        <table class="top-table">
            <tr class="top-table-header">
                <th class="top-table-header-child">#</th>
                <th class="top-table-header-child">地图</th>
                <th class="top-table-header-child">纪录持有者</th>
                <th class="top-table-header-child">时间</th>
            </tr>
            {{range $i, $v := .list}}
                <tr class="top-table-data">
                    <td class="top-table-data-child">{{Inc $i 1}}</td>
                    <td class="top-table-data-child"><a href="/top/nub/{{$v.MapName}}">{{$v.MapName}}</a></td>
                    <td class="top-table-data-child"><img src="/flag/{{ToLower $v.Region}}.png" /> {{UnescapeString $v.Holder}}</td>
                    <td class="top-table-data-child">{{SecondsToMinutes $v.Time}}</td>
                </tr>
            {{end}}

        </table>
    </div>
    </body>
    </html>
{{end}}