.player-container {
    width: 100%;
}

.player-table {
    width: 666px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.player-container tr {
     height: 24px;
 }

.player-container th {
    vertical-align: middle;
    text-align: left;
}

.player-container td {
    padding: 0 3px;
    vertical-align: middle;
}

.top-container, .regions-container {
    width: 100%;
}

.top-world-record {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-world-record ul {
    height: 30px;
    align-items: center;
    display: flex;
}

.top-world-record li {
    display: inline;
    padding: 0 5px;
}

.top-switch, .top-players-stat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-players-stat ul,
.top-switch ul {
    height: 30px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.active {
    background-color: #fff !important;
    color: #0099CC !important;
    border: solid 1px #0099CC;
}

.top-players-stat li {
    display: inline;
    padding: 5px 30px;
    margin: 0 30px;
    background-color: #fff;
    color: #0099CC;
    border: solid 1px #0099CC;
}

.top-switch li {
    display: inline;
    padding: 5px 30px;
    margin: 0 30px;
    background-color: #659EC7;
    color: #fff;
}

.top-switch li:hover {
    background-color: #0099CC;
    color: #fff;
}

.top-table, .regions-table {
    width: 100%;
}

.player-table tr:hover, .top-table tr:hover {
    background-color: #0099CC;
}

.player-table td:hover, .top-table td:hover {
    background-color: #FFF;
    color: #0099CC !important;
}

.player-table-header, .top-table-header, .regions-table-header {
    background-color: #659EC7;
    color: #FFF;
    font-size: 12px;
}

.top-table-header-child {
}

.top-table-data:nth-child(odd), .regions-table-data:nth-child(odd) {
    background: #F4F7FA;
}

.top-table-data-child {
    height: 20px;
    vertical-align: middle;
    padding: 0 3px;
}

.regions-table {
    margin-bottom: 20px;
}

.regions-table-data-child {
    height: 20px;
    vertical-align: middle;
    padding: 0 3px;
    font-size: 12px;
    text-align: center;
}

.regions-table-data-child:nth-child(3n+1),
.regions-table-data-child:first-child {
    text-align: left;
}

.regions-table-header-child, .regions-table-data-child {
    text-align: center;
}

.regions-table-data {
    height: 15px;
}

.top-steam {
    font-size: 10px;
    display: inline;
    padding-left: 10px;
    font-style: italic;
}

.top-table-header, .regions-table-header, .top-table-data {
    height: 30px;
}

.top-table-data-child:first-child, .top-table-header-child:first-child, .center {
    text-align: center !important;
}

.top-table-header-child, .regions-table-header-child {
    height: 20px;
    vertical-align: middle;
}

.top-table-header-child {
    text-align: left;
}

.top-world-record>li {
    display: inline;
}

.top-world-record-diff {
    display: inline;
    font-size: 10px;
}

.green {
    color: green;
}

.red {
    color: red;
}

@media screen and (max-width: 800px){
    .nav { display:none; }
}